.menuItem {
    padding: 12px 0;
    margin: 10px 0;
    background: #f0ebcc;
    border-radius: 5px;
}

menuItem a {
    text-decoration: none;
    color: #3f3697;
    cursor: pointer;
}

menuItem a:hover {
    cursor: pointer;
}

goForm label {
    margin-right: 75px;
}
